[user]
	name = Jason Stathopulos
	email = jstathopulos@gmail.com # WARNING Switch to Work Email on Work Computer

[github]
	user = SpiritBreaker226

[core]
	editor = code --wait
	excludesfile = ~/.config/git/.gitignore_global

[merge]
	tool = opendiff

[diff]
  tool = default-difftool
[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE

[color]
	interactive = auto
	ui = auto
	[color "branch"]
	  current = yellow reverse
	  local = yellow
	  remote = green
	[color "diff"]
	  meta = yellow bold
	  frag = magenta bold
	  old = red bold
	  new = green bold
	[color "status"]
	  added = yellow
	  changed = green
	  untracked = cyan

[credential]
	helper = osxkeychain

[push]
	default = simple

[pull]
	rebase = merges

[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

[url "ssh://git@heroku.com/"]
	insteadOf = https://git.heroku.com/

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	force-push = "!push -f origin $a"
	undo = reset HEAD~
	redo = commit -c ORIG_HEAD
  rbd = rebase --autosquash develop
  rbm = rebase --autosquash master
  rbmain = rebase --autosquash main
  rbi = rebase --interactive --autosquash
  force = push --force-with-lease origin

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
